* {
	margin: 0;
	padding: 0;
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
body{
  background-size:contain;
  font-family: 'Poppins', sans-serif;
  height:100%;
  position:relative;
  background-color: #212121;
  color: #ffffff;
}


/*Preloader*/

#preload{
background:#121212;
 height:100vh;
  width:100%;
  top:0;
  display:grid;
  place-items:center;
  position:fixed;
  z-index:100;
}
/*experiment*/
.lds-spinner {
  color:red;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position:absolute;
  top:3px;
  left:37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #ffffff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*experiment*/
/*preloader css*/



/*experiment*/

.txt{
  position: absolute;
  top:0;left:0;height:100%;
  width:100%;
background:linear-gradient(360deg,#161616b9 36%,rgba(73,73,73,0.23) 64%);
  border-radius:11px;
}
.txt h1{
  position: absolute;
  bottom:11px; left:10px;
}
.box-1{
height:100%;
width:100%;
}



/*catagory*/
.row-title{
  justify-content:space-between;
  display:flex;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:5px;
  margin-bottom:10px;
}
.row-title h1{
  color:#aaaaaa;
}
.row-title h3{
  color:#3892ff;
  font-size:20px;
  padding-top:8px;
}


.navbar{
  display:flex;
  justify-content:space-between;
  padding-right:;
  background-color:#181818;
  color:white;
  /*box-shadow:6px 6px 6px 6px #212121;*/
  align-items:center;
  top:0;
  padding:10px 2%;
  position:fixed;
  z-index:9;
  width:100%;
}


.srch-1{
  position: absolute;
  right:20px;
}

.logo{
padding-left:5px;left:20px;
padding-top:0px;
margin-left:0;
color:#3892ff;
}
a{
  text-decoration:none;
  color:white;
}

.elements {
	display: flex;
  gap:18px;
	list-style: none;
	padding-top:8px;
	padding-bottom: 10px;
  padding-right:80px;
	font-size: 20px;
  font-width:bold;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rows {
	cursor: pointer;
  position:;
  
}

.span {
	width: 30px;
	height: 4px;
	background-color: #ffffff;
	margin-bottom: 5px;
	border-radius: 2px;
	transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.burgerDiv {
	display:none;
  position:fixed;
  flex-direction:column;
}
section{
  width:100%;
}
.hero{
  
  Background-position:center;
  background-repeat: no-repeat; 
	background-position: center; 
  background-size: cover;
  margin-top:60px;
  text-align:center;
}
.hero img{
  width:100%;
}
.her{
  margin-top:0px;
  
}
.he{
  padding:20px;
  margin-bottom:20px;
}
.g-he{
  position:relative;
  background:#121212;
 border-radius:5px;
  text-align:justify;
  font-size:20px;
  inline-height:32px;
  color:#aaaaaa;
}
.g-he::before,.g-he::after{
  content:"";
  position:absolute;
  inset:-0.5rem;
  z-index:-1;
  background-image:linear-gradient(45deg,red,blue);
  border-radius:inherit;
}
.g-he::after {
  filter:blur(30px);
}
.content{
  margin:10px auto;
  text-align:center;
}
h1{
padding-top:2%;
}


p{
  font-size:20px;
  padding:2% 5%;
}
.footer{
  width:100%;
  color:whitesmoke;
  text-align:center;
  margin-top:0;
}
.footer p{
  align-items:center;
  font-size:12px;
  padding-top:5px;
  padding-bottom:10px;
}


@media (max-width: 900px) {
	.elements {
		flex-direction:column;
  background-color:rgba(0,0,0,0.2);
    
		align-items:center;
		position:fixed;
    justify-content:space-evenly;
		margin-left:0px;
		padding: 10px 20px;
		width:100%;
		height:100%;
	transform: translateX(-120%);
    overflow:;
    top:0;
    left:0;
    Border-radius:10px;
    z-index:1;
    gap:29px;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
	}  
  
.navl:hover{
  color:red;
  font-size:28px;
  border:1px solid white;
  border-radius:14px;
box-shadow:2px 2px 11px 11px white;
  background-color: black;
  padding:8px;
}

.navl{
font-size:28px;
}
  
  .srch-1{
    right:20px;
  }
    

  
a{
  text-decoration:none;
  color:white;
}
.navbar{
  display:flex;
  gap:0;
  height:60px;
}



	.burgerDiv {
		display:flex;
    position:fixed;
    z-index:9;
    /**top:25px;**/
    left:15px;
	}
.logo{
   margin-top:;
  margin-left:52px;
  color:#3892ff;
  /**top:-5px;**/
  
}
p{
  font-size:19px;
}
  
}
/*end of mediaQ*/


.sidebar {
	transform: translate(0px);
}

.line-0 {
	transform: rotate(45deg) translate(4.5px, 12px);
}

.line-1 {
	transform: scale(0);
}

.line-2 {
	transform: rotate(-45deg) translateY(-7.5px);
}
